body{
   /* background-image: url("https://wallpapercave.com/wp/wp8192385.jpg"); */
   /* background-size: ; /* Adjust as needed */
   /* background-position: center; Adjust as needed */ 
   background-image: url("https://th.bing.com/th/id/OIP.WaDnCXDu5gRmoz3RSKfoZAHaEo?w=255&h=180&c=7&r=0&o=5&pid=1.7");
}
.header {
   font-size: 200%;
   color: rgb(116, 72, 19);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
}

 button:hover{
    color: rgb(221, 0, 255);
    border-radius: 5px;
    font-family: 'Kdam Thmor Pro', sans-serif;
 }

 input{
    border: solid 5px rgb(100, 100, 201);
    border-radius:5px
 }
 .entertask{
   font-family: 'Kdam Thmor Pro', sans-serif;
 }
 #taskList{
   font-family: 'Kdam Thmor Pro', sans-serif;
   display:flex;
   justify-content: center;
   align-items: center;
   font-size: 400%;
 }
 
 #taskInput{
   width:50%
 }
 .item{
   font-size: large;
   font-family: 'Kdam Thmor Pro', sans-serif;
 }
 .reload{
   display:flex;
   justify-content: center;
   align-items: center;
   color:blue
 }